# dependencies
node_modules/

# environment files
.env
.env.*

# logs
logs
*.log
npm-debug.log*

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Prisma
prisma/dev.db
prisma/dev.db-journal